a.button {
font-family: Roboto, sans-serif;
font-size: 20px;
color: #fff;
background-color: transparent;
border: none;
outline: none;
cursor: pointer;
transition: all 0.3s ease;
}

a.button:hover {
transform: scale(1.1);
}


/* Stile per il testo del titolo e del piè di pagina */
h1 {
font-family: Roboto, sans-serif;
font-size: 60px;
color: #004d40;
text-align: center;
}

footer p {
font-family: Roboto, sans-serif;
font-size: 14px;
color: #777;
text-align: center;
margin-top: 30px;
}

/* Stile per il menu di navigazione */
nav {
background-color: #004d40;
text-align: center;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
display: inline-block;
margin: 0 10px;
}

nav button {
font-family: Roboto, sans-serif;
font-size: 20px;
color: #fff;
background-color: transparent;
border: none;
outline: none;
cursor: pointer;
transition: all 0.3s ease;
}

nav button:hover {
transform: scale(1.1);
}

/* Body */
body {
font-family: "Montserrat", sans-serif;
background-color: #f0f0f0;
color: #333;
}

main {
max-width: 1200px;
margin: 0 auto;
padding: 50px 20px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-gap: 30px;
}



section {
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 30px;
}

section h2 {
font-family: "Roboto", sans-serif;
font-size: 28px;
color: #004d40;
margin-bottom: 20px;
}

section p {
font-family: "Montserrat", sans-serif;
font-size: 18px;

  
  
  .private {
  color: transparent;
  background-color: black;
  display: inline-block;
  position: relative;
}

.private .mask {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0.6em;
  height: 1em;
  background-color: white;
}

