/* Stile per il testo del titolo e del piè di pagina */
h1, footer p {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  color: #333;
  text-align: center;
}

/* Stile per il menu di navigazione */
nav ul {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  list-style

/* Body */  
body {
  font-family: Roboto, sans-serif;
}
